<?xml version="1.0"?>
<launch>
  
  <rosparam file="$(find mobile_robot_base)/config/controllers.yaml" command="load"/>
  <rosparam file="$(find mobile_robot_base)/config/joint_limits.yaml" command="load"/>

  <arg name="model" default="$(find chefbot_description)/urdf/kbot.xacro"/>

<!--
  <arg name="model" default="$(find mobile_robot_description)/urdf/mobile_robot.urdf.xacro"/>
-->
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  
  <node name="robot_hardware_interface" pkg="mobile_robot_base" type="unobot_hardware_interface" output="screen">
     <remap from="/mobile_robot/mobile_base_controller/cmd_vel" to="/cmd_vel"/>
   </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
  </node>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mobile_robot_base)/config/rviz_config.rviz"/>
  
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="mobile_robot" args= "joints_update
      mobile_base_controller" >
  </node>

  <!--<node name="telop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"/>-->
 
</launch>